{% extends "base-presentation.html" %}
{% load static %}

{% block content %}
  <div class="mt-7 text-center">
    <h1>Position List</h1>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <ul>
      {% if position_list %}
        <table class="table mx-auto table table-bordered table-striped table-condensed"> <!-- Додано клас mx-auto для відцентрування -->
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          {% for position in position_list %}
            <tr>
              <td>{{ position.id }}</td>
              <td>{{ position.name }}</td>
              <td>
                <strong><a style="color: black" href="{% url 'manager:position-update' pk=position.id %}">Update</a></strong>
              </td>
              <td>
                <strong><a style="color: black" href="{% url 'manager:position-delete' pk=position.id %}">Delete</a></strong>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Sorry, there are no positions now, visit us later!</p>
      {% endif %}
    </ul>
  </div>
  <div class="text-center mt-3">
    <a href="{% url 'manager:position-create' %}" class="btn btn-primary btn-lg">Create Position</a>
  </div>
{% endblock %}
