{% extends "base.html" %}
{% load static %}

{% block content %}
 <h1>Position list</h1>
  <ul>
    {% if position_list %}

    {% for position in position_list %}
      <li>
        <h6>{{ position.name }}</h6>
      </li>

    {% endfor %}
    {% else %}
      Sorry, there are no positions now, visit us later!
    {% endif %}


  </ul>
{#  <button id="deleteButton">Видалити</button>#}
{##}
{#<!-- Модальне вікно -->#}
{#<div id="confirmationModal" style="display: none;">#}
{#    <p>Справді ви хочете видалити цей елемент?</p>#}
{#    <button id="confirmDeleteButton">Так</button>#}
{#    <button id="cancelDeleteButton">Скасувати</button>#}
{#</div>#}
{##}
{#<!-- Підключення JavaScript-скрипта -->#}
{#<script src="{% static 'js/script.js' %}"></script>#}
{##}
{% endblock %}