{% extends "base-presentation.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="container mt-7">
        <h1 class="mt-4 text-center">Task List</h1>
        <ul class="list-group mt-3">
          {% if task_list %}
            {% for task in task_list %}
              <li class="list-group-item">
                <h5 class="text-center"><a style="color: black; text-decoration: underline;" href="{% url 'manager:task-detail' pk=task.id%}">{{ task.name }}</a></h5>
                <p>Description: {{ task.description }}</p>
                <p>Deadline: {{ task.deadline }}</p>
                <p>Is completed: {{ task.is_completed|yesno:"<span class='text-success'>✅</span>, <span class='text-danger'>❌</span>"|safe }}</p>
              </li>
            {% endfor %}
          {% else %}
            <li class="list-group-item">
              Sorry, there are no tasks now. Please visit us later!
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
    <div class="text-center mt-3">
    <a href="{% url 'manager:task-create' %}" class="btn btn-primary btn-lg">Create Task</a>
  </div>
{% endblock %}
