{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Task Type list</h1>
  <ul>
    {% if tasktype_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for type in tasktype_list %}
          <tr>
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
            <td>
              <strong><a style="color: black" href="{% url 'manager:task-type-update'  pk=type.id%}">Update</a></strong>
            </td>
            <td>
              <strong><a style="color: black" href="{% url 'manager:task-type-delete'  pk=type.id%}">Delete</a></strong>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Sorry, there are no positions now, visit us later!</p>
    {% endif %}
  </ul>
{% endblock %}
